body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 30px;
  background: #ddd;
}

.clickable {
  cursor: pointer;
}

.list-group-item:hover {
  cursor: pointer;
}

table tbody tr td:first-child {
  width: 350px;
}

table tbody tr td:nth-child(2) {
  width: 125px;
}

table tbody tr td:nth-child(3) {
  width: 125px;
}

table tbody tr td:nth-child(4) {
  width: 125px;
}
